*.fas
*.lib
*.fasl
*.a
*.o
*.*fasl
*.*fsl
*~
*.swp
\#*#
configure
config.log
config.status
autom4te.cache
Makefile
thesiswm
thesiswm.info
TAGS
make-image.lisp
load-thesiswm.lisp
version.lisp
thesiswm-*.tgz
thesiswm-*.tgz.sig
.dotest
patches
thesiswm.texi
thesiswm.aux
thesiswm.dvi
thesiswm.fn
thesiswm.fns
thesiswm.log
thesiswm.pdf
thesiswm.toc
thesiswm.vr
thesiswm.vrs
